body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

header {
  background-color: #fff;
}

header img {
  max-width: 150px;
  height: auto;
}

.container {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-left: 120px;
  padding-right: 80px;
}

.div1,
.div2 {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.div1 {
  flex: 3;
  padding-left: 40px;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
}

.div2 {
  flex: 1;
  text-align: center;
  box-shadow: -10px 8px 8px rgba(0, 0, 0, 0.295);
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ffffff;
  background-color: #fff;
  box-sizing: border-box;
  resize: vertical;
  font-size: 20px;
  line-height: 1.5;
  border-radius: 5px;
  color: #022e5e;
  font-family: Arial, sans-serif;
  margin-bottom: 10px;
}

textarea:focus {
  border-color: #ffffff;
  outline: none;
}

textarea::placeholder {
  color: #022e5e;
  font-size: 20px;
  font-style: Arial, sans-serif;
}
.controls {
  display: flex;
  flex-direction: column;
  width: 100%;
}

p {
  margin: 0 0 10px;
  color: #666;
  font-size: 14px;
}

.buttons {
  display: flex;
  padding-top: 10px;
  width: 90%;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  margin: 0 50px;
  border: none;
  width: 40%;
}

#encriptar {
  background-color: #022e5e;
  color: white;
}

#encriptar:hover {
  background-color: #087ef5;
}

#desencriptar {
  background-color: #e0e0e0;
  color: #022e5e;
  border: 2px solid #022e5e;
}

#desencriptar:hover {
  background-color: #087ef5;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

h3 {
  font-size: 18px;
  color: #333;
  margin: 10px 0;
}
p {
  margin: 0;
  color: #504f4f;
  font-size: 14px;
}

.fa-exclamation-circle {
  color: #808080;
  font-size: 15px;
}
